/*#container {
	background-color:#FFFFED;
	
		
	}*/
	
body

{
	width:950px; margin:0 auto; background-color:#ccc;
	background-image:url(../images/vizulizations_a6_I%20love%20vegtibles.gif);
	background-repeat:no-repeat;
	height:2000px;
	}
	
#container{ 
			width: 495px;
			height: 346px;
			margin-top:773px;
			margin-left:5px;
			position:absolute;
			left:23px;
			 
			
		
			}