/*fonts*/
@font-face{
	font-family: "aller";
	src: url('../fonts/Aller/Aller_Rg.tff');
}

@font-face{
	font-family: "circle";
	src: url('../fonts/cicle/Cicle Fina.ttf');
}

@font-face{
	font-family: "avenir";
	src: url('../fonts/Avenir LT Std/AvenirLTStd-Book.otf');
}

@font-face{
	font-family: "colaborate";
	src: url('../fonts/Colaborate/ColabLig.otf');
}

@font-face{
	font-family: "BebasNeue";
	src: url('../fonts/BebasNeue.otf');
}

@font-face{
	font-family: "ChunkFive";
	src: url('../fonts/ChunkFive/Chunkfive.otf');
}



/* required for containers to inherit vertical size from window */
html,
body {
  height: 100%;
	font-family: "avenir";

}

.navbar {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#container {
/*	border: 1px solid #666;*/
	padding: 5px;
	margin-bottom: 5px;
	width: 960px;
	background-image: url('../img/paper.png')
}


#main-logo{
	font-family: "colaborate";
}
.footer-nav {
	margin-top: 0 !important;
}

hr.footer {
	width: 973px;
}

/* secondary navigation for infographic page */
.secondNavigation {
	position:relative;
	width: 960px;
	height: 25px;
}

a.stopEditingInfoGraphic {
	display:none;
}

a.editInfoGraphic {
	
}

e.printInfoGraphic {
	
}

#approvalBox {
	display:none;
}

#container_highchart_heading {
	height: 35px;
}

.element {
  width: 300px;
/*  height: 140px;*/
	height:60px;
  margin: 10px;
  font-size: 2.0em;
  float: left;
  overflow: hidden;
  position: relative;
  color: #222;

/*	-webkit-border-radius: 15px;
		-moz-border-radius: 15px;
			border-radius: 15px;*/
/*
  -webkit-border-top-right-radius: 1.2em;
      -moz-border-radius-topright: 1.2em;
          border-top-right-radius: 1.2em;
*/
}




/*email*/

.element .email {
	margin: 10px;
	margin-top: 25px;
}

.element .date {
	margin-bottom: 5px;
  font-size: 40px;
  color: hsla(0,0%,0%,.5);
	font-family: "BebasNeue";
/*  left: 0.5em;
  top: 0.5em;*/
	
}

.date_intro{
	font-size: 32px;
}

.element .subject {
	color: hsla(0,0%,0%,.5);
	margin-bottom: 5px;
	font-size: 32px;
	font-family: "ChunkFive";
}

.subject_intro{
	font-size: 24px;

}

.element .cc {
	color: hsla(0,0%,0%,.5);
	margin-bottom: 25px;
	font-size: 32px;
	font-family: "colaborate";
}

.cc_into{
	font-size: 18px;
}

.element .email_message{
	color: hsla(0,0%,0%,.5);
	font-size:24;
}


.message_intro{
	font-size: 18px;
	
}

/*.element .message {
	font-size: .9em;
	left: 0.5em;
	top: 4.5em;
  
}*/

/*overall email numbers*/
.element .num {
  font-size: 4.25em;
  font-weight: bold;
  color: white;
  left: 0.2em;
  top: 0.5em;
}

.element .num_descript{
  font-size: .05em;
  right: 0.5em;
  bottom: 0.5em;
}


img.closeButton {
	z-index: 10000;
	position:absolute;
	top: 0;
	right: 0;
	display:none;
}

/* sizes */

.width_2 {
	width: 20px;
}
.width_1 {
	width: 60px;
}

.width90 {
	width: 90px;
}

.width90 {
	width: 90px;
}

.width110 {
	width: 110px;
}

.width100 {
	width: 100px;
}

.width160 {
	width: 160px;
}

.width0 {
	width: 140px;
}

.width190 {
	width: 190px;
}

.width280{
	width: 280px;
}

.width1{
	width: 300px;
}

.width390 {
	width: 395px;
}
.width2 {
	width: 620px;
}

.width3 {
	width: 940px;
}

.height0 {
	height: 60px;
}

.height90 {
	height: 90px;
}

.height1 {
	height: 140px;
}

.height1pt5 {
	height: 210px;
}

.height2 {
	height: 300px;
}

.height2pt5 {
	height: 380px;
}

.height3 {
	height: 460px;
}

.height3pt5 {
	height: 540px;
}

.height4 {
	height: 620px;
}

.height5 {
	height: 700px;
}

.height800 {
	height: 800px;
}

.height6 {
	height: 860px;
}

.divider {
  	height: 20px;
}

/* html graphic*/

.email_full{
	background-image:url("../img/back/dark_green_2.3.png");
}

.percent {
	/*background-image:url("../img/back/blue_background.png");*/
/*	background-image:url("../img/back/tan_small.png");*/
	font-color: #00A872;
}

.banner{
/*	background-image: url('../img/banners/small_banner.png')*/
}

.banner_lg{
/*	background-image: url('../img/banners/large_banner.png')*/
}

/*prototype*/
.first_email{
	background-image:url("../img/first_email.png");
}

.last_email{
	background-image:url("../img/last_email.png");
}

.num_email {
	background-image:url("../img/num_emails.png");
}

.percent_emails {
	background-image:url("../img/percent_emails.png");
}

.first_pics{
	background-image:url("../img/first_pics.png");
}

.last_pics{
	background-image:url("../img/last_pics.png");
}


/*email metrics */


/*.emails_nums{
	width: 300px;
	height: 50px;
	margin: 10px;
}*/

.svgelem {
	z-index: -1;
	position: absolute;
}

.banner_text{
	z-index: 2;
	position: absolute;
	left: 225px;
	top: 25%
}
.emails_num{
	width: 180px;
	height: 50px;
	font-size: 80px;
	float: left;
	margin-top: 50px;
	margin-left: 10px;
	color: #00A872;
}

.percent .message{
	width: 90px;
	height: 70px;
/*	font-size: 18px;*/
	margin: 10px;
	margin-top: 30px;
	line-height: 24px;
	float:left;
}

.email_contact{
	font-size: 24px;
	margin: 10px;
	clear: both;	
}

/*picture*/

.photo_subject{
	font-family: "BebasNeue";
	margin-top: 25px;
	margin-left: 10px;
}

.vert {
	margin: 10px 0px 10px 10px;
/*	height: 20px;*/
	float: left;
	border: 1px solid black;
}

.vert_2 {
	margin: 10px;
/*	height: 20px;*/
	float: left;
	border: 1px solid black;
}


.vert_img {
	width: 160px;
	height: 212px;
/*	margin: 10px;*/
	float: left;
	overflow: hidden;
}

.horz_img {
	width: 100px;
	height: 100px;
	margin-bottom: 10px;
/*	margin:10px;*/
	float: left;
	overflow: hidden;
/*	border: 5px;
	border-style:inset;*/
}

.vert_img_lg {
/*	width: 160px;*/
	height: 212px;
/*	margin: 10px;
	float: left;
	overflow: hidden;*/
}

.horz_img_lg {
/*	width: 100px;*/
	height: 100px;
	margin-bottom: 10px;
/*	margin:10px;*/
	float: left;
	overflow: hidden;
/*	border: 5px;
	border-style:inset;*/
}





/**** Isotope CSS3 transitions ****/

.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
      -ms-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:         top, left, opacity;
          transition-property:         transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
     -moz-transition-duration: 0s;
      -ms-transition-duration: 0s;
       -o-transition-duration: 0s;
          transition-duration: 0s;
}

/* End: Recommended Isotope styles */



/* disable CSS transitions for containers with infinite scrolling*/
.isotope.infinite-scrolling {
  -webkit-transition: none;
     -moz-transition: none;
      -ms-transition: none;
       -o-transition: none;
          transition: none;
}